<% if (flashMessages && flashMessages.length) { %>
  <div class="flash-stack">
    <% flashMessages.forEach((item) => { %>
      <div class="flash <%= item.type === 'error' ? 'flash-error' : 'flash-success' %>">
        <%= item.message %>
      </div>
    <% }) %>
  </div>
<% } %>
